*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f5f5f5;
}

div{
    background-color: #f5f5f5;
    border-top: 1px solid #d5d5d5;
    text-align: center;
    padding: 50px;
}

h1{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

img{
    width: 190px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.548);
}

h2{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 15px;
}

p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 28px;
    width: 930px;
    margin: 0 auto;
}

a{
background-color: green;
color: #ffffff;
font-size: 14px;
padding: 10px 30px;
text-decoration: none;
font-weight: bold;
border-radius: 25px;
}

a:hover{
    background-color: rgb(0, 70, 0);
}

h3{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

span{
    font-weight: bold;
}